.container{
  margin: 50px 0;
}

.countDownContainer{
  border: 1px solid black;
  margin: 30px 0;
  padding: 25px;
}

.timeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.timeContainer p {
  font-size: 2rem;
  font-weight: bolder;
  margin: 50px 0 0 0;
}

@media (min-width: 320px) AND (max-width: 480px) {
  .timeContainer div {
    margin: 5px;
  }
}


