.container {
    width: 500px;
    color: black;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
}

.image_container {
    padding: 20px;
}

.title_container {
    height: 105px;
}

.title {
    font-weight: bold;
}

.description {
    font-weight: 100;
}

.tech_container {
    height: 260px;
}

@media (min-width: 320px) AND (max-width: 480px) {
    .container {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }

    .title_container {
        height: 150px;
    }
}