.container {

}

.header {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.main {
    text-align: center;
    padding-top: 100px;
}

.person_title {
    font-size: 48px;
}

.person_subtitle {
    font-size: 18px;
    font-weight: 100;
}

.person_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0 auto;
}

.background {
    margin-top: 50px;
    opacity: 0.6;
}

.intro_section {
    width: 100%;
    height: 600px;
    color: white;
    background-color: blueviolet;
    padding: 100px 30%;
}

.intro_section h1, .social_section h1 {
    font-size: 2rem;
}

.skills_section {
    position: relative;
    top: -150px;
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
}

.social_networks_container {
    width: 60%;
    margin: 50px auto;
}

.footer {
    
}
